<div id="background-lightbox-gear-vr" class="background-lightbox-gear-vr">
	<div class="instruction-box">
		<div class="instruction-box-header clearfix">
			<div class="instruction-box-header-divide left">
				<h3>Gear VR Instructions</h3>
			</div>
			<div class="instruction-box-header-divide right">
				<div class="header-image">
					<img ng-click="removeInstructions()" src="http://i346.photobucket.com/albums/p438/adimitui/Cancel%20Icon%20White_zps3lbjfcbt.png"/>
				</div>
			</div>
		</div>

		<div class="instruction-box-body">
			<div class="body-image">
				<img src="http://i346.photobucket.com/albums/p438/adimitui/SAOTA%20VR%20Transparent_zpsmbfxtihf.png"/>
			</div>
			<div class="body-text">
				<p><span><strong>Instructions for Samsung Gear VR:</strong></span> Open this page on your computer and not your Samsung mobile. The following method applies to owners of a Samsung Gear VR and allows for viewing of select 360 VR Panoramas of SAOTA's architecture.</p>
				<p><span><strong>Download Files:</strong></span> Please download one/both of the zip files linked below from a computer and copy the contents of the extracted folder to your Samsung device. Additionally, make sure to Download Oculus 360 Photos from the Oculus Store.</p>
				<a href="http://www.saota.com/saotavr/360Photos.zip">
					<div class="instruction-download">
						<img src="http://i346.photobucket.com/albums/p438/adimitui/ZIP%20Icon%20White_zps5itp4ke4.png"/>
						<h3>Photo Collection 1</h3>
					</div>
				</a>
				<a href="http://www.saota.com/saotavr/360Photos (2).zip">
					<div class="instruction-download">
						<img src="http://i346.photobucket.com/albums/p438/adimitui/ZIP%20Icon%20White_zps5itp4ke4.png"/>
						<h3>Photo Collection 2</h3>
					</div>
				</a>
				<p><span><strong>Step 1:</strong></span> Once you have downloaded the ZIP file, extract its contents.</p>
				<img class="instruction-photo" src="http://i346.photobucket.com/albums/p438/adimitui/Instruction%20001_zpsikqy3jx4.jpg"/>
				<p><span><strong>Step 2:</strong></span> You will need to copy the "360Photos" Folder that was extracted from the zip file to the "Oculus" Folder on the Phone’s Storage. This can be by dragging and dropping the folder or through copy and paste. If the Oculus folder does not exist, you must create one.</p>
				<img class="instruction-photo" src="http://i346.photobucket.com/albums/p438/adimitui/Instruction%20002_zpslzi45cho.jpg"/>
				<p><span><strong>Step 3:</strong></span> Once you have copied this folder, you can place the phone in the Headset. You need to open the 360Photos app from within Oculus Home and select the menu option "On Device", which will allow you to view images on the device.</p>
				<img class="oculus-photo" src="http://i346.photobucket.com/albums/p438/adimitui/Instruction%20003_zpszpfzh0uc.jpg"/>
				<button class="exit-button" ng-click="removeInstructions()">
					<h3>Exit Instruction Page</h3>
				</button>
			</div>
		</div>
	</div>
</div>